In [1]:
# importar bibliotecas
import pandas as pd

In [12]:
#criando datasets pandas
db = pd.read_csv(r'bank-full.csv', sep=';')# https://www.kaggle.com/datasets/mahdiehhajian/bank-marketing

In [15]:
#visualizar os dados
db.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [17]:
# traduzir o dataset
db.columns = ['idade', 'emprego', 'estado_civil', 'educacao', 'default', 'balanco_medio_anual', 'hipoteca', 'emprestimo_pessoal', 'contato', 'dia', 'mes', 'duracao_chamada', 'qtd_contatos', 'dias_ultimo_contato', 'qtd_contatos_total', 'campanha_anterior', 'resultado']

In [23]:
display(db['emprego'].unique(),
db['estado_civil'].unique(),
db['educacao'].unique(),
db['default'].unique(),
db['hipoteca'].unique(),
db['emprestimo_pessoal'].unique(),
db['contato'].unique(),
db['campanha_anterior'].unique())

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

array(['married', 'single', 'divorced'], dtype=object)

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

array(['no', 'yes'], dtype=object)

array(['yes', 'no'], dtype=object)

array(['no', 'yes'], dtype=object)

array(['unknown', 'cellular', 'telephone'], dtype=object)

array(['unknown', 'failure', 'other', 'success'], dtype=object)

1 - idade = idade do cliente
2 - emprego do cliente ('management', 'technician', 'entrepreneur', 'blue-collar', 'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student')
3 - estado_civil
4 - educação
5 - default
6 - balanco_medio_anual
7 - hipoteca
8 - emprestimo_pessoal
9 - contato
10 - dia
11 - mes
12 - duracao_chamada
13 - qtd_contatos
14 - dias_ultimo_contato
15 - qtd_contatos_total
16 - campanha_anterior
17 - resultado